downloads/
.fur
backend/.fur
ML/animals/
regions.csv
app/backend/db/pg_csv/Addresses.csv
app/backend/db/pg_csv/Badges.csv
app/backend/db/pg_csv/Regions.csv
parse_addresses_name_merged.py
test_img/
.env
.vscode/
__pycache__/
*.pyc
backend/.env
addresses/
*.lock
node_modules/
frontend/node_modules/
backend/node_modules/
backend/uploads/
app/backend/migrations
regions_data