services:
  backend:
    build:
      context: .
      dockerfile: ./app/backend/Dockerfile
    entrypoint: ['entrypoint.sh']
      
    
    volumes:
      - mediaData:/usr/src/app/media/
    ports:
      - "3000:3000"
    depends_on:
      - rabbitmq
      - postgres
    restart:
       always


  frontend:
    build:
      context: .
      dockerfile: ./app/frontend/my-app/Dockerfile
    ports:
      - "3001:3001"
    command:
      yarn start
    environment:
     - PORT=3001
    restart:
      always
  worker:
    build:
      context:
        .
      dockerfile:
        ./app/scheduler/Dockerfile
    restart:
      always
    command:
      node worker.js
    depends_on:
      - rabbitmq
      - db

 
  pika:
    build: 
      context: ./ML
    
        
    working_dir: /ML
    command: python detect.py
    volumes:
      - mediaData:/usr/src/app/media/
    env_file:
      - .env
    restart: always

  
  rabbitmq:
    image: rabbitmq:management-alpine
    ports:
      - "5672:5672"
    environment:
    - RABBITMQ_DEFAULT_USER=admin
    - RABBITMQ_DEFAULT_PASS=secret
    restart:
      always

 
    
  postgres:
    image: postgres:17
   
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - /usr/src/app/media/csv:/usr/src/app/media/csv/:ro
      - C:/Users/gabri/Desktop/Python/local_friends/regions.csv:/data/regions.csv

    restart: always
    env_file:
      - .env


volumes:
    pgdata:
    mediaData:
