html{
    overflow-x: hidden; user-select: none; overflow-y: auto;
}
a{
    text-decoration: none; color: white; padding: 0.5%; padding-left: 1%;
     padding-right: 1%;
}
.txt_lg{
    font-size: max(1.5vw, 2.5vh) !important; 
}
.txt_md{
font-size: max(1.3vw, 2.3vh)  !important;
}
.txt_sm{
font-size: max(1.3vw, 2vh)  !important;
}
.txt_xs{
    font-size: max(1vw, 2vh)  !important;
}
.txt_xl{
    font-size: max(1.8vw, 2.8vh) !important;
}
.txt_xxl{
    font-size: max(2.3vw, 3vh)  !important;
}
@media (orientation: portrait) and (min-width:799px){
    .top_landing_row > [class*='col-md']{
        flex: 0 0 95%
    }
    .modal_bg > [class*='col-md']{
        flex: 0 0 65% !important;
    }
    .summary_right_panel > [class*='quadrants_row']{
        gap: 5vh !important;
        padding-top: 8% !important; padding-bottom: 8% !important;
    }
    .container-fluid > [class*='rect_row'] {
        gap: 5vh !important;
    }
    .row > [class*='col-md'] {
        flex: 0 0 100%
    }
    .top_picture_flex {
        padding:3% !important; padding-bottom: 3% !important; padding-top: 3% !important;
    }
    .form_profile_user{
       padding: 12% !important; padding-top: 8vh!important; 
    }
    .mini_modal{
        gap: 6vh !important; padding: 5% !important; padding-top: 7% !important;
        flex: 0 0 90% !important; border-radius: 8px !important;
    }
    .settings_modal{
        height: 100vh !important; width: 100vw !important; padding-top: 8% !important;
    }
    .nav_main{
        justify-content: center !important; padding: 0% !important;
    }
    .menu_options{
        padding: 3% !important
    }

 
}
@media (max-width: 799px){
    .settings_modal{
        height: 100vh !important; width: 100vw !important;
    }
    .animal_pic_cont{
        width: 55% !important;
    }
}
@media(min-width:799px){ 


}