.rectangle{
    background-color: rgb(121, 121, 121); height: 39vh; margin: 10px;
    border-radius: 10px; overflow: hidden; position: relative;
}

.menu_options{
    background-color: rgb(35, 152, 241);  gap:3%
}

.dash_cont{
    overflow-y: hidden; overflow-x: hidden;
}
.top_bar_dashboard{
    background-color: aliceblue; color: black; text-align: center;
}
.selected_tab_dash{
    background-color: rgb(46, 61, 117);
}
.dash_tab_icon{
    cursor: pointer;
}
.unfollow{
    position: absolute; right: 100; background-color: rgb(0, 162, 255); color: white; 
    border: 1px solid black;padding: 0.1%; padding-left: 1vw; padding-right:1vw;
    font-size: small;

}
/*********************Follow popup*************************/


#follow_popup{
    height: 60px; width: 200px; position: absolute; top: -60px; right: 20px;
    transition: 1.5s ease; z-index: 10000; background-color: rgb(83, 143, 222); border:2px solid black;
    border-radius: 3px;  cursor: pointer; display: flex; justify-content: center; align-items: center;
    transition-delay: 0.6s;
}
.popup_expanded{
    top: 0px !important;  transition: 1.5s ease; 
}
.shrink{
    top: -60px !important
}
#follow_href{
    transition: opacity ease 1s;  position: absolute; top: 16px; right: 77px; z-index: 100000;
    height: fit-content; 
}
.fadeout{
    opacity: 0;
}
#checkmark_follow{
    display: flex; justify-content: center; align-items: center;
    opacity: 0; color: white; position: absolute; top: 16px; right: 53px;
    transition: opacity ease 1.5s; z-index: 10000;
}
.appear{
    opacity: 1 !important;
}
.green_checkmark_follow{
    height: 20px; width: 20px;
}
/*********************Square 1*************************/

.team_upper{
    height: 25%; background-color: rgba(59, 59, 59, 0.321); 
    color: rgb(243, 243, 243); font-size: 22px; align-items: center;
    display: flex; justify-content: center;
}
.teams_grid{
    display: flex;  height:75%;
      scrollbar-width: thin; 
     
}
.animal_text_dash{
    font-size: small; padding: 3%; background-color: rgba(38, 38, 38, 0.094);
}
.animal_desc_dash{
width: 55%; ;overflow-y: scroll; scrollbar-width: thin; 
}
.animal_title_dash{
    text-align: center; position: sticky; top: 0; background-color: rgb(39, 39, 39);
    
}
.teams_grid > * {
  justify-self: center; 
}
.team_ico:hover{
    animation: wiggle ; animation-duration: 1.5s; animation-fill-mode: forwards;
}
.animal_ico{
   width:90%; height: 90%; object-fit: contain;
}
.animal_pic_cont{
 cursor: pointer;  width:45%; display: flex; justify-content: center; align-items: center;
}
@keyframes wiggle{
    to{transform: scale(1.1);} from{transform: scale(1);}
}

/*********************Square 2*************************/

.badges_title{
    height: 25%; background-color: rgba(59, 59, 59, 0.321); 
    color: rgb(243, 243, 243); font-size: 22px; align-items: center;
    display: flex; justify-content: center;
}

/*********************Square 3*************************/
.account_top{
  height: 25%; background-color: rgba(59, 59, 59, 0.321); 
    color: rgb(243, 243, 243); font-size: 22px; align-items: center;
    display: flex; justify-content: center;
}
.account_bot{
  display: flex; align-items: center; padding-top: 3%;
}
.info_left{
 width: 65%;  font-size: small; display: flex; align-items: center; 
 padding-top: 2vh; background-color: rgba(0, 0, 0, 0.139); margin-right: 5px;
}
.profile_pic_dash{
    height: 90%; width: 90%; object-fit: contain;
}
.text_elipsis{
    text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 95%;
}
.photo_right{
    width: 35%; display: flex; align-items: center;
    justify-content: center;
}
.edit_icon_dash{
    position: absolute; right: 10; top: 10; cursor: pointer;border-radius: 4px;
    background-color: rgb(228, 227, 223);

}
.edit_icon_dash:hover{
    background-color: rgb(185, 175, 157); 

}
/*********************Square 4*************************/
.stats_top{
  height: 25%; background-color: rgba(59, 59, 59, 0.321); 
    color: rgb(243, 243, 243); font-size: 22px; align-items: center;
    display: flex; justify-content: center;
}
.stats_bot{

}

/*********************** PROFILE MODAL **************************/

#profile_modal_bg{
    background-color: rgba(0, 0, 0, 0.29); position: absolute; left: 50%;
     top: 50%; transform: translate(-50%, -50%); height: 100vh; 
    width: 100vw;
}
#profile_modal_bg_animal{
       background-color: rgba(0, 0, 0, 0.29); position: absolute; left: 50%;
     top: 50%; transform: translate(-50%, -50%); height: 100vh; 
    width: 100vw;
}
.profile_modal{
    position: absolute; left: 50%; width: 50vw; height: 80vh;
     top: 50%; transform: translate(-50%, -50%); background-color: aliceblue;
     z-index: 1000; display: flex; justify-content: center;  
}
.mini_modal{
    width: 40vw !important; height: 20vh !important; position: relative; border-radius: 5px;
     top: 40%; display: block;
}
.x_btn_modal_edit_dash{
    position: absolute; right: 11; top: 9; background-color: rgb(204, 108, 108); 
    z-index: 10000; width: 23px; height: 23px; cursor: pointer;
    text-align: center; border-radius: 4px; border: 1px solid black;
}
.form_profile_user{
    display: grid;  color: black; width: 95%; padding-bottom: 1%;
    grid-template-columns: repeat(2, 1fr);  height: 66%; 
    z-index: 1000; bottom: 0; position: absolute;
}
.submit_btn_edit_profile{
     width: 9vw; background-color: rgb(100, 135, 225) !important; 
     color: white !important; border-radius: 5px; height: 7.5vh !important;

}
.submit_btn_edit_animal{
     width: 9vw; background-color: rgb(100, 135, 225) !important; 
     color: white !important; border-radius: 5px; height: 7.5vh !important;
     bottom: 10; right: 10; position: absolute;

}
.submit_cont_dash_edit{
    display: flex; align-items: center; height: 11vh; justify-content: end;
    width: 18vw;
}
.form_profile_user > * {
    justify-self: center; 
}
.form_profile_user input{
  border: 2px solid rgb(49, 49, 49);
  background-color: antiquewhite; padding-left: 1%; height: 6vh;
}
.form_profile_user input[type='file']{
    width: 2vw;
}
.pic_edit{
    width: 100px; height: 100px;
}
.top_picture_flex{
    display: flex; position: absolute;
    left: 0; top: 0; background-color: rgb(166, 166, 166); width: 100%;
     padding: 2%;padding-left: 8%; gap: 5%;

}
.invisible_font{
    color: rgba(240, 248, 255, 0);
}
.custom_upload{
    width: 30px; cursor: pointer;
}
.error_username_dash{
    background-color: salmon; color: white; padding-left: 1%; display: flex;
    justify-content: center; border: 1px; padding: 1%;
}
.error_passwords_profile{
    width: 16vw; display: flex; align-items: center; flex-direction: column; 

}
.errors_cont_dash_edit{
    display: flex; flex-direction: column; justify-content: center; width: 16vw;
    height: 11vh;
}
.animal_select{
    margin-top: 2vh !important; left: 2vw; position: absolute; top:2.5vh
}
.region_select{
    width: 270px; color: black; z-index: 10000;
}
.region_select input{
    height: 20px;
}
.region_bar_head{
    margin-left: 5px; font-size: medium; margin-bottom: 1vh; margin-top: 1vh;
}
#region_dropdown{
    width: 250px;
}
/*****************************SETTINGS MODAL********************************/

.settings_modal{
    background-color:aliceblue; height: 92vh; display: flex; flex-direction: column;
    border-radius: 5px; position: relative; padding: 2%;  z-index: 100000; 
    
}
.dash_settings_form{
    color: black;height: 100%; 
}
#dash_options_bg{
    background-color: rgba(0, 0, 0, 0.331);
}
.option_div{
    border: 1px solid black; padding: 2%; gap: 2%; display: flex; background-color: antiquewhite;
    width: fit-content; font-size: small;
}
.option_div input{
    transform: scale(1.2);
}
.options_cont{
    height: 90%;  border-radius: 5px;
}
.save_setting_cont{
    height: 10%; position: relative;display: flex; align-items: center;
}
.save_settings_btn{
    background-color: blue; color: white; padding: 1%; border-radius: 5px; width: 70px;
    position: absolute; right: 1vw; border: 1px solid rgb(255, 255, 255);
}
.setting_section_header{
    text-align: center; padding: 2%; margin-bottom: 2vh;
}