.rectangle{
    background-color: rgb(121, 121, 121); height: 39vh; margin: 10px;
    border-radius: 10px; overflow: hidden; position: relative;
}

.menu_options{
    background-color: rgb(35, 152, 241);  gap:3%
}

.dash_cont{
    overflow-y: hidden; overflow-x: hidden;
}
.top_bar_dashboard{
    background-color: aliceblue; color: black; text-align: center;
}
.selected_tab_dash{
    background-color: rgba(101, 103, 110, 0.431); border-radius: 15%;
}
.dash_tab_icon{
    cursor: pointer; transition: transform ease 1s;transform-origin: center center; width: 36px;
    margin-bottom: 5px;
}
.dash_tab_icon:hover{
    transform: scale(1.2); 
}
.unfollow{
    position: absolute; right: 100; background-color: rgb(0, 162, 255); color: white; 
    border: 1px solid black;padding: 0.1%; padding-left: 1vw; padding-right:1vw;
    font-size: small;

}
.hint_div_dash{
   
}
.dash_img_menu_cont{
    justify-content: center; display: flex; flex-direction: column; align-items: center;
    font-size: small; padding: 2%; width: 36px; gap: 2%;
}
/*********************Follow popup*************************/


#follow_popup{
    height: 60px; width: 200px; position: absolute; top: -60px; right: 20px;
    transition: 1.5s ease; z-index: 10000; background-color: rgb(83, 143, 222); border:2px solid black;
    border-radius: 3px;  cursor: pointer; display: flex; justify-content: center; align-items: center;
    transition-delay: 0.6s;
}
.popup_expanded{
    top: 0px !important;  transition: 1.5s ease; 
}
.shrink{
    top: -60px !important
}
#follow_href{
    transition: opacity ease 1s;  position: absolute; top: 16px; right: 77px; z-index: 100000;
    height: fit-content; 
}
.fadeout{
    opacity: 0;
}
#checkmark_follow{
    display: flex; justify-content: center; align-items: center;
    opacity: 0; color: white; position: absolute; top: 16px; right: 53px;
    transition: opacity ease 1.5s; z-index: 10000;
}
.appear{
    opacity: 1 !important;
}
.green_checkmark_follow{
    height: 20px; width: 20px;
}
/*********************Square 1*************************/
.no_team_content{
    position: absolute;  width: 72%;
    top: 57%; left: 50%; transform: translate(-50%,-50%); font-size: large;
}
.team_upper{
    height: 25%; background-color: rgba(59, 59, 59, 0.321); 
    color: rgb(243, 243, 243); font-size: 22px; align-items: center;
    display: flex; justify-content: center;
}
.teams_grid{
    display: flex;  height:75%;
      scrollbar-width: thin; 
     
}
.animal_text_dash{
    font-size: small; padding: 3%; background-color: rgba(38, 38, 38, 0.094);
}
.animal_desc_dash{
width: 55%; ;overflow-y: scroll; scrollbar-width: thin; 
}
.animal_title_dash{
    text-align: center; position: sticky; top: 0; background-color: rgb(39, 39, 39);
    
}
.teams_grid > * {
  justify-self: center; 
}
.team_ico:hover{
    animation: wiggle ; animation-duration: 1.5s; animation-fill-mode: forwards;
}
.animal_ico{
   width:90%; height: 90%; object-fit: contain;
}
.animal_pic_cont{
 cursor: pointer;  width:45%; display: flex; justify-content: center; align-items: center;
}
@keyframes wiggle{
    to{transform: scale(1.1);} from{transform: scale(1);}
}

/*********************Square 2*************************/

.badges_title{
    height: 25%; background-color: rgba(59, 59, 59, 0.321); 
    color: rgb(243, 243, 243); font-size: 22px; align-items: center;
    display: flex; justify-content: center;
}
.badge_grid_dash{
    grid-template-columns: repeat(5, 1fr); display: grid; overflow-y: scroll; height: 100%;
    grid-auto-rows: max(70px); padding-top: 1.6vh;
}
.badge_image{
    height: 60px; width: 60px; align-self: center; justify-self: center;
     background-color: rgba(66, 66, 66, 0); border-radius: 50%;
}
.badge_image:hover{
    outline: 1.5px solid rgba(0, 251, 255, 0.384);
}
.grey_badge{
    filter: grayscale(60%); opacity: 0.3;
}
.badge_desc_info{
    visibility: hidden; background-color: rgb(96, 133, 242); z-index: 10000000;
    width: 250px; position: absolute; padding-left:2%; border: 1px solid white;
    color: rgb(255, 255, 255); bottom: 2; left: 7; border-radius: 5px;
}
.badge_grid_dash::-webkit-scrollbar {
  width: 9px; 
}

/* Track (background) */
.badge_grid_dash::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle (thumb) */
.badge_grid_dash::-webkit-scrollbar-thumb {
  background: #262626;
  
}

/* Handle on hover */
.badge_grid_dash::-webkit-scrollbar-thumb:hover {
  background: #4776a5;
}
/*********************Square 3*************************/
.account_top{
  height: 25%; background-color: rgba(59, 59, 59, 0.321); 
    color: rgb(243, 243, 243); font-size: 22px; align-items: center;
    display: flex; justify-content: center;
}
.account_bot{
  display: flex; align-items: center; padding-top: 3%;
}
.info_left{
 width: 65%;  font-size: small; display: flex; align-items: center; 
 padding-top: 2vh; background-color: rgba(0, 0, 0, 0.139); margin-right: 5px;
}
.profile_pic_dash{
    height: 90%; width: 90%; object-fit: contain;
}
.text_elipsis{
    text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 95%;
}
.photo_right{
    width: 35%; display: flex; align-items: center;
    justify-content: center;
}
.edit_icon_dash{
    position: absolute; right: 10; top: 10; cursor: pointer;border-radius: 4px;
    background-color: rgb(228, 227, 223);

}
.edit_icon_dash:hover{
    background-color: rgb(185, 175, 157); 

}
/*********************Square 4*************************/
.stats_top{
  height: 25%; background-color: rgba(59, 59, 59, 0.321); 
    color: rgb(243, 243, 243); font-size: 22px; align-items: center;
    display: flex; justify-content: center;
}
.stats_bot li{
 background-color: #4176da97;width: fit-content; margin-top: 2vh; padding: 0.5%; padding-left: 1%;
 padding-right: 1%;
}
.stats_bot{
    background-color: rgba(57, 96, 193, 0.116); height: 100%; padding-top:2vh ;
}
/*********************** PROFILE MODAL **************************/

#profile_modal_bg{
    background-color: rgba(0, 0, 0, 0.29); position: absolute; left: 50%;
     top: 50%; transform: translate(-50%, -50%); height: 100vh; 
    width: 100vw;
}
#profile_modal_bg_animal{
       background-color: rgba(0, 0, 0, 0.29); position: absolute; left: 50%;
     top: 50%; transform: translate(-50%, -50%); height: 100vh; 
    width: 100vw;
}
.profile_modal{
    position: absolute; left: 50%; width: 50vw; height: 80vh;
     top: 50%; transform: translate(-50%, -50%); background-color: aliceblue;
     z-index: 1000; display: flex; justify-content: center;  
}
.mini_modal{
    width: 40vw !important; height: 20vh !important; position: relative; border-radius: 5px;
     top: 40%; display: block;
}
.x_btn_modal_edit_dash{
    position: absolute; right: 11; top: 9; background-color: rgb(204, 108, 108); 
    z-index: 10000; width: 23px; height: 23px; cursor: pointer;
    text-align: center; border-radius: 4px; border: 1px solid black;
}
.form_profile_user{
    display: grid;  color: black; width: 95%; padding-bottom: 1%;
    grid-template-columns: repeat(2, 1fr);  height: 66%; 
    z-index: 1000; bottom: 0; position: absolute;
}
.user_info_modal_bottom_flex{
    display: flex; align-items: center; width: 100%;
}
.submit_btn_edit_profile{
     width: 50%; background-color: rgb(100, 135, 225) !important; 
     color: white !important; border-radius: 5px; height: 7.5vh !important;

}
.submit_btn_edit_animal{
     width: 9vw; background-color: rgb(100, 135, 225) !important; 
     color: white !important; border-radius: 5px; height: 7.5vh !important;
     bottom: 10; right: 10; position: absolute;

}
.submit_cont_dash_edit{
    display: flex; align-items: center; height: 11vh; justify-content: center;
    width: 100%; 
}
.form_profile_user > * {
    justify-self: center; 
}
.form_profile_user input{
  border: 2px solid rgb(49, 49, 49);
  background-color: antiquewhite; padding-left: 1%; height: 6vh; width: 100%;
}
.form_profile_user input[type='file']{
    width: 2vw;
}
.pic_edit{
    width: 100px; height: 100px;
}
.top_picture_flex{
    display: flex; position: absolute;
    left: 0; top: 0; background-color: rgb(166, 166, 166); width: 100%;
     padding: 2%;padding-left: 8%; gap: 5%;

}
.invisible_font{
    color: rgba(240, 248, 255, 0);
}
.custom_upload{
    width: 30px; cursor: pointer;
}
.error_username_dash{
    background-color: salmon; color: white; padding-left: 1%; display: flex;
    justify-content: center; border: 1px; padding: 1%;
}
.error_passwords_profile{
    width: 100%; display: flex; align-items: center; flex-direction: column; 

}
.errors_cont_dash_edit{
    display: flex; flex-direction: column; justify-content: center; width: 100%;
    height: 11vh; align-items: center;
}
.animal_select{
    margin-top: 2vh !important; left: 2vw; position: absolute; top:2.5vh
}
.region_select{
    width: 270px; color: black; z-index: 10000;
}
.region_select input{
    height: 20px;
}
.region_bar_head{
    margin-left: 5px; font-size: medium; margin-bottom: 1vh; margin-top: 1vh;
}
#region_dropdown{
    width: 250px;
}
/*****************************SETTINGS MODAL********************************/

.settings_modal{
    background-color:aliceblue; height: 92vh; display: flex; flex-direction: column;
    border-radius: 5px; position: relative; padding: 2%;  z-index: 100000; 
    
}
.dash_settings_form{
    color: black;height: 100%; 
}
#dash_options_bg{
    background-color: rgba(0, 0, 0, 0.331);
}
.option_div{
    border: 1px solid black; padding: 2%; gap: 2%; display: flex; background-color: antiquewhite;
    width: fit-content; font-size: small;
}
.option_div input{
    transform: scale(1.2);
}
.options_cont{
    height: 90%;  border-radius: 5px;
}
.save_setting_cont{
    height: 10%; position: relative;display: flex; align-items: center;
}
.save_settings_btn{
    background-color: blue; color: white; padding: 1%; border-radius: 5px; width: 70px;
    position: absolute; right: 1vw; border: 1px solid rgb(255, 255, 255);
}
.setting_section_header{
    text-align: center; padding: 2%; margin-bottom: 2vh;
}

/******************** Followers Modal *******************************/
.picture_user_follower_modal{
   height:100%
}
.follow_div_stats{
    display: flex; color: black; justify-content: center; gap: 13%; font-size: small;
    background-color: rgb(55, 55, 55); position: absolute; bottom: 0;
}
.no_match_follower{
 color: black; display: flex; justify-content: center; margin-top: 2vh; align-items: center;
 margin-bottom: 2vh;
}

#followers_modal_bg{
      background-color: rgba(0, 0, 0, 0.29); position: absolute; left: 50%;
     top: 50%; transform: translate(-50%, -50%); height: 100vh; 
    width: 100vw; z-index: 10000;
}
.followers_modal{
    width: 29vw; height: 94vh; background-color: rgb(255, 255, 255); left: 50%; top: 49%; transform: translate(-50%,-50%);
    position:absolute; border: 2px solid white; border-radius: 4px;
    display: flex; flex-direction: column;
}
.single_follower{
    background-color: white; height: 5vh; color: black; border-bottom: 0.5px solid rgb(241, 241, 241); 
    display: flex; align-items: center; padding-left: 4px;
   
}

.following_containers{
   
    background-color: rgb(241, 241, 241); position: relative; overflow-y: scroll; margin-top: 8px;
    
}
.btn_cont_followers{
 border: 1px solid rgba(0, 0, 0, 0); display: flex; gap: 12%; justify-content: center;
 padding:6%; background-color: rgb(49, 49, 49);
}
.toggle_btn_followers{
 background-color: royalblue; height: 6vh; border: 1px solid rgb(50, 50, 50); border-radius: 5px;
 padding: 1%; width: 28%;
}
.toggled_follow{
    background-color: rgb(39, 61, 125) !important; border: 1px solid grey;
}

.input_cont_follower_modal input[type='text']{
    background-color: aliceblue; color: black; border: 1px solid black; border-radius: 5px;
    width: 75%; left:50%; transform: translateX(-50%); position: relative; padding-left: 1%;
   
   
    
}
.unfollow_dash_btn{
    background-color: royalblue; position:absolute; right: 2px; color: white;
    padding-left: 3px; padding-right: 4px;
}
.unfollow_dash_btn:hover{
    background-color: rgb(57, 91, 194);
}
.input_cont_follower_modal{
    background-color: rgb(99, 99, 219); padding: 4%;
}
/* Width of the scrollbar */
.following_containers::-webkit-scrollbar {
  width: 7px; 
}

/* Track (background) */
.following_containers::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle (thumb) */
.following_containers::-webkit-scrollbar-thumb {
  background: #262626;
  
}

/* Handle on hover */
.following_containers::-webkit-scrollbar-thumb:hover {
  background: #4776a5;
}
.x_btn_modal_followers_dash{
    position: absolute; right: 11; top: 9; background-color: rgb(204, 108, 108); 
    z-index: 10000; width: 23px; height: 23px; cursor: pointer;
    text-align: center; border-radius: 4px; border: 1px solid black;
}
@media(max-width: 1025px){
    .followers_modal{
    width: 100vw; height: 100vh; 
}
.profile_modal  {
    width: 99vw; height: 80vh;
}
.mini_modal{
    width: 320px !important; height:130px !important
}
.region_select{
    width: 200px; color: black; z-index: 10000; 
}
.submit_btn_edit_profile{
    width: 85%;
}
.submit_btn_edit_animal{
    height: 50px !important; width: 90px !important;
}
.form_profile_user input{
 width: 45vw;
}
.settings_modal{
    height: 80%; width: 97%;
}
}
/***************** FIRST LOGIN MODAL *********************************/

#first_login_bg{
        background-color: rgba(0, 0, 0, 0.29); position: absolute; left: 50%;
     top: 50%; transform: translate(-50%, -50%); height: 100vh; 
    width: 100vw; 
}
.first_login_modal{
    width: 50vw; height: 45vh; background-color: grey; left: 50%; top: 19vh;  transform: translateX(-50%);
    position:absolute; display: flex;  align-items: center; flex-direction: column;
    border: 2px solid rgb(70, 70, 70);
}
.header_welcome_modal{
    margin-top: 6vh; margin-bottom: 4vh;
}
.first_login_gotit_btn{
    background-color: royalblue; color: white; position: absolute; bottom: 3vh;
}
.text_first_login{
    width: 75%; border: 1px solid rgba(5, 5, 5, 0); padding: 2%;
}
.add_a_region_red{
    color: salmon;
}

