.posts_dashboard_cont{
    border: 1px solid grey; overflow-y: scroll;  height:91vh;
    background-color: rgb(33, 33, 33); overflow-x: hidden; position: relative;
    padding-top: 6vh;
    
   

}
.single_post_dash{
     border: 1px solid grey; max-height: 75vh;
    justify-self: center; background-color: rgb(34, 34, 34); border-radius: 5px;
    margin-top: 1vh; overflow: hidden; padding:1% ;
}

.post_dash_left_content{
   
}
.menu_post_dashboard{
    position: absolute; right: 0; display: flex; flex-direction: column; align-items: end;
    width: 10vw; padding-right: 2vw; gap: 2vh;
}
#three_dots_dashboard{
   font-size: larger; 
}
.new_post_btn_dash{
    position: absolute !important; top: 10px; right: 13px; height: 6vh !important; z-index: 1000;
    max-height: 40px;
}
.option_menu_hidden{
    background-color: grey; margin-top: 12%; flex-direction: column;
      min-width: 10vw;  border: 1px solid white; display: flex; 
      z-index: 10000;
}
.post_dash_right_picture{
      
     padding: 1%; height: 54vh; position: relative; margin-top: 3vh; 
   
}
.post_dash_title{
    text-align: center; width: 100%;
}
html, body {
    overflow: hidden;
}
.post_dash_description{
     background-color: rgb(71, 71, 71); justify-self: center; 
    max-height: 14vh;  padding: 2%; border-radius: 5px; overflow-y: scroll;
    object-fit: contain; 
}

.post_dash_description::-webkit-scrollbar {
  width: 7px; 
}

/* Track (background) */
.post_dash_description::-webkit-scrollbar-track {
    background-color:rgba(90, 90, 90, 0.358);border-radius: 6px;
}

/* Handle (thumb) */
.post_dash_description::-webkit-scrollbar-thumb {
  background: rgb(84, 84, 84);
  border-radius: 1px;
}

/* Handle on hover */
.post_dash_description::-webkit-scrollbar-thumb:hover {
  background: rgba(90, 90, 90, 0.358);
}

@media (min-width: 992px) { 
    .post_dash_description { 
        max-height: 69% !important; display: flex;
    }
   
}
@media (max-width: 992px){
     .no_post_wrapper{
        gap:2% !important
    }
    .posts_dashboard_cont{
     height:80vh;
}
    .new_post_btn_dash{
      position: fixed !important; top:unset !important; 
      bottom: 20px !important; opacity: 0.9;
}
.option_post_detail{
    font-size: larger; padding-left: 2vw; padding-right: 2vw;
}
.menu_post_dashboard{
    padding-right: 4vw; 
}
}
.no_post_wrapper{
    border-radius: 16px; background-color: rgba(56, 56, 56, 0.016); color: white;
     display: flex; border: 1px solid rgb(109, 109, 109); align-items: center;
    justify-content: center; height: fit-content; margin-top: 2vh;
    height: 160px;
   
}
.cricket_img{
     align-items: center; justify-content: center;
     aspect-ratio: 1/1; height: 30%; margin-right: 10px;

}
.text_no_post{
     margin-left: 15px; width: 50%;
}
.no_post_div{
    background-color: rgba(78, 77, 77, 0); border: 1px solid grey; height: 85vh;
}