/************************ BAR *****************************/
.feed_top_bar_create{
    background-color: rgba(48, 49, 50, 0.954); top:0; position: sticky; border-radius: 5px;
    height: 9vh; display: flex; align-items: center; gap: 1%;  justify-content: flex-end;
    margin-bottom: 1%; border: 1px solid grey; z-index: 1000;
    
}
.new_post_btn:hover{
   background-color: rgb(99, 107, 212); cursor: pointer;
}
.new_post_icon{
  height: 26px; transition: transform ease 0.5s;
}
.newPostButtonRight{
    transform: scale(1.1); position: relative;
}
.new_post_btn{
    width: 120px; background-color: rgb(116, 124, 239); height: 70%; display: 
    flex; align-items: center; justify-content: center; border-radius: 5px; border: 1px solid black;
    font-size: smaller; gap: 8%;
}
.anchor_user_home{
    color: rgb(124, 124, 244) !important
}

.region_home_btn{
  background-color: rgb(51, 51, 51); padding: 1%; border: 1px solid white;  border-radius: 5px;
  position: absolute; left: 25; width: 75px;
}
.worldwide_home_btn{
 background-color: rgb(47, 47, 47); position: absolute; left: 115px; padding: 1%; border-radius: 5px;
 width: 75px; border: 1px solid white; 
}
.region_home_btn:hover{
    background-color: rgb(75, 75, 75);
}
.worldwide_home_btn:hover{
    background-color: rgb(75, 75, 75);
}
.toggled_btn{
   background-color: grey !important;
}
/************************ Feed *****************************/
.web_icon_posts{
   
}

.region_popup_feed{
    background-color: rgb(65, 65, 65); border: 1px solid white; border-radius: 5px; font-size: small;
    width: fit-content; padding: 17%; visibility: hidden; position: absolute;
} 
.web_icon_cont{
 height: 20px; width: 20px;   position:absolute; left: 4;
}

.no_posts_div{
    height: 30vh; background-color: rgba(18, 18, 18, 0.508); color: rgb(255, 255, 255);  padding: 2%;
   display: flex; align-items: center; justify-content: center; margin-top: 1vh;
}
.post_user_home_img{
    width:17px; height: 17px; 
}
.post_home_user{
    display: flex; gap: 2%; background-color: rgb(69, 69, 69);
     align-items: center; padding-left: 1%; font-size: small; border-radius: 5px;
     margin-bottom: 1vh;
}
.feed_left{
    background-color: rgb(16, 16, 16); 
}
.feed_middle{
 overflow-y: scroll; overflow-x: hidden;  background-color: rgb(42, 139, 199); height: 90vh;
 
}
.images_cont_feed{
    max-width: 300px;  display: flex; align-items: center; justify-content: center;
    
    
}
.feed_images{
    width: 200px; max-height: 200px; object-fit: contain; height: 90%; margin-top: 2%;
}
.post_unit_feed{
  background-color: rgb(50, 50, 50); color: rgb(244, 244, 244); display: flex; 
   margin-bottom: 20px; padding: 2%; border: 2px solid rgb(105, 105, 105);
  border-radius: 10px;  justify-content: center; position: relative;
}
.post_unit_feed:hover{
    background-color: rgb(62, 62, 62); cursor: pointer;
}
.posts_cont{
    background-color: rgb(45, 45, 45); padding: 6%; border-radius: 5px; padding-top:4%
}
.see_more_main_feed{
    color: rgb(164, 164, 164);
}
.show_more_wrapper{
    display: flex; justify-content: flex-end; width: 97%; margin-top: 1vh; font-size: x-small;
}
.post_title{
    text-align: center; margin-bottom: 1.5vh; display: flex; justify-content: center; align-items: center;
    position: relative;
}
.post_content{
     font-size: small; color: rgb(215, 215, 215); padding: 3%;
     border-radius:5px; background-color: rgba(0, 0, 0, 0.219);
}
.truncated_8 {
  display: -webkit-box;
  -webkit-line-clamp: 9; 
  line-clamp: 9;    /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncated_11 {
  display: -webkit-box;
  -webkit-line-clamp: 9; 
  line-clamp: 9;    /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/************************ Right panel  *****************************/
.collapsed_post_form{
    width: 10px;
}
.expand_post_create{
    position: absolute; top: 50%; right: 0; transform: translateY(-50%);
    color: white; background-color: black; z-index: 1000; width: 30px;
    cursor: pointer; user-select: none; border: 1px solid white;
    border-radius: 5px;
    
}
.post_form{
    background-color: aliceblue; color: black;
}
.textarea_post_feed{
    height: 40vh;
}
.post_btn_feed{
    width: 10vw; background-color: grey;
}
.feed_right{
    background-color: rgb(16, 16, 16); }

/********************** MODAL ***********************/
#feed_modal_bg{
    background-color: rgba(0, 0, 0, 0.29); width: 100vw; height: 100%; position: fixed;
    z-index: 100000000;
}
.title_modal_feed{
    text-align: center; margin-bottom: 6%; font-size: large !important;
}
.feed_modal{
    left: 50%; top: 40%; height: 75vh; width: 40vw; position: relative; transform: translate(-50%, -50%);
    background-color: rgb(61, 61, 61); border-radius: 17px; display: flex; flex-direction: column;
    padding: 4%;padding-top: 2%; border: 3px solid rgb(41, 41, 41) ; color: rgb(252, 252, 252); gap: 1vh;
    font-size: smaller; justify-content: flex-start;
    
}
.expand_icon_post_detail_cont{
    width: 99%; display: flex; justify-content: flex-end; position: sticky;  right: 5px; top: 2px;
    height: 4px;
    
}
.expand_icon_post_detail{
    height: 20px; width: 20px; 
   ; cursor: pointer; border: 1px solid white;
}
.expand_icon_post_detail:hover{
   opacity: 0.9; background-color: aliceblue;
}
.warn_text_edit_post{
    color: salmon;
}
.feed_modal input{
    border: 1px solid rgb(151, 151, 151); padding-left: 1%;
}
.feed_modal textarea{
     border: 1px solid rgb(151, 151, 151);padding-left: 1%;
}

input[type='file']{
    background-color: rgb(38, 38, 38); color: rgb(222, 222, 222) !important;  cursor: pointer;
    border: 1px solid rgb(90, 90, 90) !important; text-align: center !important; padding: 1%;
    font-size: small; 
}
.post_btn_feed_modal{
     width: 10vw; background-color: grey; position: absolute; right: 33; bottom: 10;
     border-radius: 5px; padding: 0.5%; border: 1px solid white;
}
.x_btn_feed_modal{
     position: absolute; right: 8; top: 9; background-color: rgb(204, 108, 108); 
    z-index: 100000; width: 23px; height: 23px; cursor: pointer;
    text-align: center; border-radius: 6px; border: 1px solid black;
}
/******************************** POST DETAIL MODAL *********************************/
.location_btn_create_post{
    color: rgb(231, 231, 231);  padding: 1%; white-space: nowrap; padding-right: 2%;
    display: flex; background-color: rgba(94, 94, 94, 0.657); gap: 4%; align-items: center;
}
#post_detail_bg{
  
    background-color: rgba(0, 0, 0, 0.29); 
    z-index: 1000; position: absolute;
}
.post_detail_modal{
  background-color: rgb(40, 40, 40);
    height: 100vh;  border-radius: 10px; border:1px solid white; position: relative;
    display: flex; flex-direction: column; align-items: center; z-index: 1005;
}
.post_detail_author{
    height: 25%; display: flex; gap: 2%; background-color: rgb(53, 53, 53); font-size: small;
    align-items: center; border-radius: 5px; position: sticky; top:0; margin-bottom: 1vh;
 }
 .compass_icon_create_post{
    height: 25px;
 }
 .location_div_newpost{
    display: flex; align-items: center; gap: 2%;
 }
.img_post_detail_author{
  height: 20px; 
}
.title_post_detail{
    text-align: center; margin-top: 3vh; 
}
.description_post_detail{
    border-radius: 7px;  max-height: 45vh; 
    height: fit-content; font-size: small; overflow-y: auto;  
    padding-right: 2%; background-color: rgba(0, 0, 0, 0.219); padding-bottom: 20px;
  
}
/* Width of the scrollbar */
.description_post_detail::-webkit-scrollbar {
  width: 10px; 
}

/* Track (background) */
.description_post_detail::-webkit-scrollbar-track {
  background: #f1f1f1;border-radius: 6px;
}

/* Handle (thumb) */
.description_post_detail::-webkit-scrollbar-thumb {
  background: #5890c7;
  border-radius: 6px;
}

/* Handle on hover */
.description_post_detail::-webkit-scrollbar-thumb:hover {
  background: #4776a5;
}

.visible{
    visibility: visible !important;
}
.option_post_detail{
    background-color: rgba(0, 0, 0, 0.492); padding: 2%; white-space: nowrap; font-size: smaller;
}
.option_post_detail:hover{
    background-color: rgba(64, 64, 64, 0.492);
}
#option_menu_post_detail{
      background-color: grey; margin-top: 12%; flex-direction: column;
      min-width: 10vw;  border: 1px solid white; display: flex; visibility: hidden;
}
.menu_post_detail_cont{
    position: absolute; right: 9%; top:1%; z-index: 9999999; display: flex; align-items: flex-end;
    flex-direction: column;
}
.three_dots_post_detail{

}
#delete_post_detail_confirm{
    height: 130px; width: 220px; position: fixed; left: 50%; top: 40%; transform: translate(-50%,-50%);
    z-index: 999999; background-color: rgb(67, 67, 67); visibility: hidden; display: flex; 
    justify-content: center;
    align-items: flex-end; flex-direction: column; color: rgb(255, 255, 255); font-size: smaller;
  
    border: 1px solid white;
    border-radius: 5px; padding: 2%; gap: 15%;
}
.row#description_image_row {
  height: 63vh; /* default */
 
  transition: height 1s ease;
  border: 1px solid grey;
}

.row.shrinked_row {
  height: 10vh !important;
}

.post_detail_pictures_cont{
      display: flex; justify-content: center; height: 52vh;
     
}
.feed_img_cont{
   
}
.enlarged_img{
    position: fixed; min-height: 95vh; max-height:95vh;left: 50%; top: 50%; transform: translate(-50%,-50%); 
    z-index: 100000; object-fit: contain;
}

.image_post_detail{
  
  cursor: pointer;
  object-fit: contain; 
  /* optional: fit inside box without cropping */
}
.image_post_detail_single{
      cursor: pointer;
  object-fit: contain; max-height: 350px;
  /* optional: fit inside box without cropping */
}
#myEmojiPicker{
    position: absolute; z-index: 1000000; right: -18; transform: translateY(-50%); top: 50%;
}
.reply_comment{
    position: absolute; right: 7.5px; bottom:5px; color: rgb(151, 151, 151);
}
.reply_comment:hover{
    color:grey; cursor:pointer;

}
.smile_emote_comment{
    height: 24px; width: 24px; cursor: pointer; z-index: 10000000000;
}


.emoji_picker{
    z-index: 1000000;
}
.reply_input_cont{
    background-color: grey; width: 90%; 
}
.first_comment{
    text-align: center; color: rgb(171, 171, 171); position: absolute;
    top: 50%; left:50%; transform: translate(-50%, -50%);
}
.comment_form{
    width: 100%; display: flex;  gap: 2%; height: 40%; justify-content: flex-end;
    align-items: center; font-size: small; max-height: 100px; right: 5.5%; position: relative;
}
.comment_form input{
   background-color: rgb(63, 63, 63); width: 75%; border: 2px solid rgb(1, 1, 1); border-radius: 5px; 
   color: white; outline: 1.5px solid rgb(255, 255, 255); padding-left: 3px; 
}
.comment_form textarea{
    width: 70%; border: 1px solid white; border-radius: 5px; height: 70%;
    padding: 1%;
}
.comment_subcomments_cont{
    width: 75%; display: flex; flex-direction: column; align-items: flex-end; 
    left: 50%; transform: translateX(-50%);   position: relative;
}
.subcomments_subcomments_cont{
    position: relative; width:100%; display: flex; flex-direction: column; align-items: flex-end;
}
.comment_bar{
    width: 100%;
}
.large_width{
  width: 90% !important;
}
.medium_width{
  width: 80% !important;
}
.small_width{
  width: 70% !important;
}
.left_side_comment{
    display: flex; flex-direction: column; width: 80%;
}
.x_btn_comment{
    position: absolute; right: 6px; top: 8px; font-size: 12px; color: rgb(193, 193, 193);
    background-color: rgb(30, 30, 30); width: 4%; border-radius: 5px; 
}
.x_btn_comment:hover{
     background-color: rgb(51, 51, 51);
}
.single_comment{
    border: 1px solid green; border: 1px solid white; background-color: rgb(38, 38, 38);
    display: flex;  gap: 0.1%; border-radius: 15px;  position: relative;
    margin: 1px; padding:10px; font-size: small; width: 100%; margin-top: 2px; align-items: flex-end;
    
}
.comments_post_detail_cont{
    height: 80%; width: 100%; border: 1px solid rgb(82, 82, 82); position: relative;
    overflow-y: scroll; scrollbar-width: thin; background-color: rgb(61, 61, 61);
    z-index: 10000; max-height: 80vh; overflow-x: hidden; scroll-behavior: smooth;
}
.comments_form_wrapper{
    height: 29vh; width: 100%; display: flex; flex-direction: column; transition: height 1s ease;
   
}
.see_more{
   font-size: x-small;
}
.comments_form_wrapper.expanded_wrapper{
    height: 80vh;
}
.elevated{
    z-index: 100000;
}
.user_comment_pic{
    display: flex; width: 20%; gap: 5%; height: 20px;
}
.picture_comment{
    height: 20px; width:20px
}
/***********************Comment del modal **********************/

#commentDelBg{
    width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.438); left: 50%; top: 50%; justify-content: center;
    align-items: center; transform: translate(-50%,-50%); z-index: 9999999999; position: absolute;
}
.commentDelForm{
    height: 20vh; width: 30vw; position: relative; left: 50%; top: 50%; justify-content: center;
    align-items: center; transform: translate(-50%,-50%); background-color: rgb(43, 43, 43);
    justify-content: center; align-items: center; display: flex; gap: 5%; border-radius: 6px;
    border: 1px solid white; padding: 3%;
}
.x_btn_comment_modal{
    position: absolute; right: 6px; top: 8px; color: rgb(254, 254, 254); font-size: smaller;
    background-color: rgb(48, 48, 48); width: 6.5%; border: 1px solid white; border-radius: 6px;
}
.x_btn_comment_modal:hover{
    background-color: rgb(72, 72, 72); 
}
/************************************************************/
.comment_content_post_detail{
    width: 100%; margin-top: 1%;  margin-left:2px;
}
.truncated-text {
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  line-clamp: 2;    /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post_detail_desc{
    height: 20%;
}
.carousel-item img {
  object-fit: contain;
  max-height: 45vh; /* set a max height */
}
.carousel-control-prev,
.carousel-control-next {
  
        /* anchor to the carousel container */
  top: 50%;                 /* vertical center */
  transform: translateY(-50%);
            /* shrink clickable area */
}

.carousel-control-prev {
  left: -50px;              /* push outside */
}

.carousel-control-next {
  right: -50px;             /* push outside */
}
@media (max-width: 1025px) {
  .col-ipad-pro {
    flex: 0 0 100%;   /* behave like col-12 */
    max-width: 100%;
  }
  .posts_cont {
    width: 95%;
  }
  .feed_top_bar_create {
     width: 95%;
  }
  .feed_img_cont{
    margin-top: 1vh; margin-bottom: 1vh;
  }
}
@media (max-width: 768px) {   /* md breakpoint */
  .description_post_detail {
    height: 200px !important; margin-bottom: 2vh;
  }

  .post_detail_pictures_cont{
     height: 320px;
    

}
.left_side_comment{
    width: 73%;
}
   .comment_subcomments_cont{
        width: 90%;
    }
.carousel-item{
    height: 320px; object-fit: contain;
}
.feed_modal{
    width: 100%; height: 100%; top: 50%; position: fixed;
}
}


