/************************ BAR *****************************/
.feed_top_bar_create{
    background-color: rgba(48, 49, 50, 0.954); top:0; position: sticky; border-radius: 5px;
    height: 9vh; display: flex; align-items: center; gap: 1%;  justify-content: flex-end;
    margin-bottom: 1%; border: 1px solid grey;
    
}
.new_post_btn:hover{
   background-color: rgb(99, 107, 212); cursor: pointer;
}
.new_post_icon{
  height: 26px;
}
.new_post_btn{
    width: 120px; background-color: rgb(116, 124, 239); height: 70%; display: 
    flex; align-items: center; justify-content: center; border-radius: 5px; border: 1px solid black;
    font-size: smaller; gap: 8%;
}
.anchor_user_home{
    color: rgb(124, 124, 244) !important
}
/************************ Feed *****************************/
.post_user_home_img{
    width:17px; height: 17px; 
}
.post_home_user{
    display: flex; gap: 2%; background-color: rgb(69, 69, 69);
     align-items: center; padding-left: 1%; font-size: small; border-radius: 5px;
     margin-bottom: 1vh;
}
.feed_left{
    background-color: rgb(16, 16, 16); 
}
.feed_middle{
 overflow-y: scroll; overflow-x: hidden;  background-color: rgb(42, 139, 199); height: 90vh;
 
}
.images_cont_feed{
    max-width: 300px;  display: flex; align-items: center; justify-content: center;
    
    
}
.feed_images{
    width: 200px; max-height: 200px; object-fit: contain; height: 90%;
}
.post_unit_feed{
  background-color: rgb(50, 50, 50); color: rgb(244, 244, 244); display: flex; 
   margin-bottom: 20px; padding: 2%; border: 2px solid rgb(89, 148, 188);
  border-radius: 10px; margin-top: 5px;
}
.post_unit_feed:hover{
    background-color: rgb(62, 62, 62); cursor: pointer;
}


.post_title{
    text-align: center; margin-bottom: 1.5vh;
}
.post_content{
     font-size: small; color: rgb(215, 215, 215);  padding: 2%;
     border-radius:5px; background-color: rgba(0, 0, 0, 0.219);
}
/************************ Right panel  *****************************/
.collapsed_post_form{
    width: 10px;
}
.expand_post_create{
    position: absolute; top: 50%; right: 0; transform: translateY(-50%);
    color: white; background-color: black; z-index: 1000; width: 30px;
    cursor: pointer; user-select: none; border: 1px solid white;
    border-radius: 5px;
    
}
.post_form{
    background-color: aliceblue; color: black;
}
.textarea_post_feed{
    height: 40vh;
}
.post_btn_feed{
    width: 10vw; background-color: grey;
}
.feed_right{
    background-color: rgb(16, 16, 16); }

/********************** MODAL ***********************/
#feed_modal_bg{
    background-color: rgba(0, 0, 0, 0.29); width: 100vw; height: 100%; position: fixed;
    z-index: 100000000;
}
.title_modal_feed{
    text-align: center; margin-bottom: 6%; font-size: large !important;
}
.feed_modal{
    left: 50%; top: 40%; height: 75vh; width: 40vw; position: relative; transform: translate(-50%, -50%);
    background-color: rgb(61, 61, 61); border-radius: 17px; display: flex; flex-direction: column;
    padding: 4%;padding-top: 2%; border: 3px solid rgb(41, 41, 41) ; color: rgb(252, 252, 252); gap: 1vh;
    font-size: smaller; justify-content: flex-start;
    
}
.expand_icon_post_detail{
    height: 20px; width: 20px; position: absolute; right: 5px; top: 2px; cursor: pointer; border: 1px solid white;
}
.expand_icon_post_detail:hover{
   opacity: 0.9; background-color: aliceblue;
}
.warn_text_edit_post{
    color: salmon;
}
.feed_modal input{
    border: 1px solid rgb(151, 151, 151); padding-left: 1%;
}
.feed_modal textarea{
     border: 1px solid rgb(151, 151, 151);padding-left: 1%;
}

input[type='file']{
    background-color: rgb(222, 222, 222); color: black !important;  cursor: pointer;
    border: 2px solid rgb(44, 44, 44) !important; text-align: center !important; padding: 1%;
    font-size: small; 
}
.post_btn_feed_modal{
     width: 10vw; background-color: grey; position: absolute; right: 33; bottom: 10;
     border-radius: 5px; padding: 0.5%; border: 1px solid white;
}
.x_btn_feed_modal{
     position: absolute; right: 8; top: 9; background-color: rgb(204, 108, 108); 
    z-index: 100000; width: 23px; height: 23px; cursor: pointer;
    text-align: center; border-radius: 6px; border: 1px solid black;
}
/******************************** POST DETAIL MODAL *********************************/
.location_btn_create_post{
    color: black;  padding: 1%; white-space: nowrap; padding-right: 2%;
    display: flex; background-color: rgba(255, 255, 255, 0.657); gap: 4%; align-items: center;
}
#post_detail_bg{
  
    background-color: rgba(0, 0, 0, 0.29); 
    z-index: 1000;
}
.post_detail_modal{
  background-color: rgb(40, 40, 40);
    height: 100vh;  border-radius: 10px; border:1px solid white; position: relative;
    display: flex; flex-direction: column; align-items: center; z-index: 1005;
}
.post_detail_author{
    height: 25%; display: flex; gap: 2%; background-color: rgb(53, 53, 53); font-size: small;
    align-items: center; border-radius: 5px; position: sticky; top:0; margin-bottom: 1vh;
 }
 .compass_icon_create_post{
    height: 40px;
 }
 .location_div_newpost{
    display: flex; align-items: center; gap: 2%;
 }
.img_post_detail_author{
  height: 20px;
}
.title_post_detail{
    text-align: center; margin-top: 3vh; 
}
.description_post_detail{
    border-radius: 7px;  max-height: 45vh; 
    height: fit-content; font-size: small; overflow-y: auto; scrollbar-width: thin; 
    padding-right: 2%; background-color: rgba(0, 0, 0, 0.219);
  
}
.visible{
    visibility: visible !important;
}
.option_post_detail{
    background-color: rgba(0, 0, 0, 0.492); padding: 2%; white-space: nowrap; font-size: smaller;
}
.option_post_detail:hover{
    background-color: rgba(64, 64, 64, 0.492);
}
#option_menu_post_detail{
      background-color: grey; margin-top: 12%; flex-direction: column;
      min-width: 10vw;  border: 1px solid white; display: flex; visibility: hidden;
}
.menu_post_detail_cont{
    position: absolute; right: 9%; top:1%; z-index: 9999999; display: flex; align-items: flex-end;
    flex-direction: column;
}
.three_dots_post_detail{

}
#delete_post_detail_confirm{
    height: 130px; width: 220px; position: fixed; left: 50%; top: 40%; transform: translate(-50%,-50%);
    z-index: 999999; background-color: rgb(67, 67, 67); visibility: hidden; display: flex; 
    justify-content: center;
    align-items: flex-end; flex-direction: column; color: rgb(255, 255, 255); font-size: smaller;
  
    border: 1px solid white;
    border-radius: 5px; padding: 2%; gap: 15%;
}
.row#description_image_row {
  height: 63vh; /* default */
 
  transition: height 1s ease;
  border: 1px solid grey;
}

.row.shrinked_row {
  height: 10vh !important;
}

.post_detail_pictures_cont{
      display: flex; justify-content: center; 
     
}
.feed_img_cont{
   
}
.enlarged_img{
    position: fixed; min-height: 95vh; max-height:95vh;left: 50%; top: 50%; transform: translate(-50%,-50%); 
    z-index: 100000; object-fit: contain;
}

.image_post_detail{
  
  cursor: pointer;
  object-fit: contain; 
  /* optional: fit inside box without cropping */
}


.first_comment{
    text-align: center; color: rgb(171, 171, 171); position: absolute;
    top: 50%; left:50%; transform: translate(-50%, -50%);
}
.comment_form{
    width: 100%; display: flex; justify-content: center; gap: 2%; height: 40%;
    align-items: center; font-size: small; max-height: 100px;
}
.comment_form textarea{
    width: 75%; border: 1px solid white; border-radius: 5px; height: 70%;
    padding: 1%;
}
.comment_bar{
    width: 75%;
}
.single_comment{
    border: 1px solid green; border: 1px solid white; background-color: rgb(38, 38, 38);
    display: flex; flex-direction: column; gap: 2%; border-radius: 15px; width: 75%; position: relative;
    left: 50%; transform: translateX(-50%); margin: 1px; padding:15px; font-size: small
}
.comments_post_detail_cont{
    height: 80%; width: 100%; border: 1px solid rgb(82, 82, 82); position: relative;
    overflow-y: scroll; scrollbar-width: thin; background-color: rgb(61, 61, 61);
    z-index: 10000; max-height: 80vh;
}
.comments_form_wrapper{
    height: 29vh; width: 100%; display: flex; flex-direction: column; transition: height 1s ease;
   
}
.comments_form_wrapper.expanded_wrapper{
    height: 80vh;
}
.elevated{
    z-index: 100000;
}
.user_comment_pic{
    display: flex; width: 20%;
}
.picture_comment{
    height: 20px; width:20px
}
.comment_content_post_detail{
    width: 80%; 
}

.post_detail_desc{
    height: 20%;
}
.carousel-item img {
  object-fit: contain;
  max-height: 45vh; /* set a max height */
}
.carousel-control-prev,
.carousel-control-next {
  position: absolute;  
   width: auto;      /* anchor to the carousel container */
  top: 50%;                 /* vertical center */
  transform: translateY(-50%);
            /* shrink clickable area */
}

.carousel-control-prev {
  left: -50px;              /* push outside */
}

.carousel-control-next {
  right: -50px;             /* push outside */
}
@media (max-width: 768px) {   /* md breakpoint */
  .description_post_detail {
    height: 100px !important; margin-bottom: 2vh;
  }

  .post_detail_pictures_cont{
     height: 230px;
    
     
}
.carousel-item{
    height: 190px; object-fit: contain;
}
.feed_modal{
    width: 100%; height: 100%; top: 50%; position: fixed;
}
}
