.nav_main{
    position: sticky; left: 0; width: 100vw; height: 8vh;
     background-color: rgb(88, 88, 197); top: 0; z-index: 1000; color: black;
    font-size: max(18px, 2.2vh)
   
    
}
html{
    overflow-x: hidden; 
}
a{
    text-decoration: none; color: white; padding: 0.5%; padding-left: 1%; padding-right: 1%;
}
.home_link{
    display: flex;  display: flex; align-items: center; 
}
.home_icon_nav{
    justify-self: end; margin-left: 10px; height: max(36px, 4.5vh); width: max(36px, 4.5vh) ;
}
.map_link{
    display: flex ;display: flex; align-items: center;
}
.map_icon{
    border: 1px solid black;display: flex; align-items: center; margin-left: 10px;
    height: max(36px, 4.5vh); width: max(36px, 4.5vh) ;
}
.toggled_nav{
    background-color: rgb(72, 59, 172); display: flex; align-items: center;
}

