.nav_main{
    position: sticky; left: 0; width: 100vw; height: 8vh;
     background-color: rgb(88, 88, 197); top: 0; z-index: 1000; color: black;
     margin-bottom: 1vh;  display: flex; align-items: center; gap: 2%;
     justify-content: center;
}
html{
    overflow-x: hidden; 
}
a{
    text-decoration: none; color: white;
}
.home_link{
    display: flex; gap: 7%; 
}

